<!--The content below is only a placeholder and can be replaced.-->
<main>
  <section class="row">
      <section class="asidebar col col-md-2 col-sm-4">
          <app-navbar></app-navbar>
      </section>
      <section class="conteudo col col-md-10 col-sm-8">
        <router-outlet>
          <!--  LOADING -->
          <div class="app-loading" *ngIf="loading">
              <div class="logo"></div>
              <svg class="spinner" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>

        </router-outlet> 
      </section>
  </section>
</main>
