<aside class="sidenav">
  <h3 class="logo text-center"><a href="/">Star Wars</a></h3>
  <nav>
      <ul class="nav flex-column">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['filmes']"><i class="fas fa-fw fa-film"></i> Filmes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['personagens']"><i class="fas fa-fw fa-users"></i> Personagens</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['planetas']"><i class="fas fa-fw fa-globe-americas"></i> Planetas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['especies']"><i class="fas fa-fw fa-dna"></i> Espécies</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['naves']"><i class="fas fa-fw fa-space-shuttle"></i> Espaçonaves</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['veiculos']"><i class="fas fa-fw fa-bus-alt"></i> Veículos</a>
        </li>
      </ul>
  </nav>
</aside>